<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      table{
        table-layout: fixed;
        width: 100%;
        word-wrap: break-word;
      }
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th,
      td {
        padding: 20px;
      }
      .center {
        margin-left: auto;
        margin-right: auto;
      }
      .container {
        text-align: center;
        padding-top: 50px;
      }
      #btn {
        font-size: 20px;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URLS</title>
  </head>
  <body>
    <h1 style="text-align: center">Shorten URLS Generetaed:</h1>

    <table class="center">
      <thead>
        <th style="width: 10%;">Sr.no</th>
        <th style="width: 30%;">Short URL</th>
        <th style="width: 30%;">Original URL</th>
        <th style="width: 10%;">Total Clicks</th>
        <% if (locals.role) { %>
         <th style="width: 20%;">User Email</th>
        <% } %>
      </thead>
      <% if (locals.urls) { %> <% urls.forEach((url,index) => { %>
      <tr>
        <td style="width: 10%;"><%= index +1 %></td>
        <td style="width: 30%;">http://localhost:8000/urls/<%= url.shortURL %></td>
        <td style="width: 30%;"><%= url.requiredURL %></td>
        <td style="width: 10%;"><%= url.history.length %></td>
        <% if (locals.role) { %>
         <td style="width: 20%;"><%= emails[index] %></td>
        <% } %>
      </tr>
      <% }) %> <% } %>
    </table>
    <div class="container">
      <a href="/"><button id="btn">Go Back</button></a>
    </div>
  </body>
</html>
